# Include documentation
include README.md
include LICENSE

# Include example files and blog posts
recursive-include examples *.lvl *.md
recursive-include useableexamples *.lvl

# Exclude unnecessary files
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
exclude .gitignore

